html, body {
  margin: 0 !important;
  padding: 0 !important;
}

.anvil-role-app-root,
.anvil-role-shell-host {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
}
